<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>退室画面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all">
    <link rel= "stylesheet" type= "text/css" href= "https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" 
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
    <header>
    </header>
    <div class="container" style="text-align:center;">
        <div class="row align-items-center" style="height:3rem;">
        </div>
        <div class="text-center">
            <h4>退室画面</h4>
            <form action="/exit" method="post" name="exit_form">
                <div class="cp_ipselect cp_sl01">
                    <select name="name">
                        {% for name in li %}
                            <option value="{{ name }}">{{ name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a href="javascript:exit_form.submit()" class="ind_btn">退室</a>
            </form>
        </div>
        <form method="post" name="index_form" action="?" style="line-height: 8em;">
            <input type="hidden" name="index" value="index">
            <a href="javascript:index_form.submit()" class="ind_btn">入室者一覧を見る</a>
        </form>
    </div>
</body>
</html>